html, body {
	height: 100%;
}

body{
	background-image: url("/imgs/bg.jpg");
	background-position: center top;
	max-height:100%;
	max-width:100%;
	font-size: 1.2em;
}

*{
	font-family:Arial;
	padding:0px;
	margin:0px;
}

a {
	text-decoration: none;
	color:#000000;
}

a:hover {
	color:#f02849;
}


header {
	display: block;
	position: fixed;
	top: 0;
	width:100%;
	background-color: #f02849;
	text-align:center;
	overflow: hidden;
	opacity:1;
	transition: all 1000ms ease-out;
	box-shadow: 0 0 5px #888888;
}

section {
	display: block;
	transition: padding 500ms ease-out;
}

section:hover {
	padding-top: 3%;
	padding-bottom: 3%;
}

nav a {
	display: inline-block;
	vertical-align: top;
	text-decoration:none;
	color: #ffffff;
	padding:0.7em 2em;
	cursor:pointer;
	transition: background-color 100ms ease-out;
}

.logoHolder, .sideMenu {
	overflow: hidden;
	transition: width 1s ease-out;
}

nav a:hover{
	background: rgba(255,255,255,0.25);
	color:#ffffff;
}

#logo {
	font-size:1.5em;
	font-weight: bolder;
	padding: 0.2em 1em;
}

section h1 {
	text-align:center;
	font-weight: bold;
	font-size:5em;
	margin-bottom:2%;
}

.milieu {
	padding-top:6%;
	font-size:1.4em;
	padding-bottom:2%;
}

.adjectif {
	display: block;
	text-align:center;
	margin: 0 auto;
	padding:1% 4% 2% 4%;
}

.adjectif .group {
	display: block;
	padding: 10%;
}

.adjectif .group span {
	padding: 4%;
	font-size: 1.2em;
	display: block;
	font-weight: bolder;
}

.adjectif .group span.top {
	border-bottom: 1px #000000 solid;
}

.adj_bas li {
	display: inline-block;
	vertical-align: middle;
	width:33%;
}

.community {
	display: block;
	padding: 2% 5%;
	/*background: rgba(234, 111, 73, 0.2);*/
	background: #ffffff;
	font-size:1.2em;
}

.signature {
	display: block;
	position:relative;
	padding: 2% 5%;
	background: #666666;
	color:#ffffff;
	border-bottom:8px #f02849 solid;
}

#sign {
	display: block;
	width: 158px;
	margin: 10px auto;
}

.wrap40 {
	width: 40%;
	margin: 0 auto;
}

.column33, .column34, .column40, .column20 {
	display: inline-block;
	vertical-align: middle;
}

.column33 {
	width:33%;
}

.column34 {
	width: 34%;
}

.column40 {
	width:40%;
}

.column20 {
	width: 20%;
}

.centerTxt {
	text-align: center;
}

.rightTxt {
	text-align: right;
}

.leftTxt {
	text-align: left;
}

section li {
	display:inline-block;
	list-style:none;
	font-size:1.4em;
	font-weight:bold;

}

.bottom {
	margin-top:8%;
	display: inline-block;
	padding: 8px 16px;
	background-color: #f02849;
	border-radius: 6px;
	color:#ffffff;
	font-size: 1em;
	font-weight: bolder;
}

.fleche {
	display:block;
	margin-top:6%;
	text-align: center;
}

#gradients {
	position: fixed;
	bottom:0;
	width:100%;
    height:15%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.33) 97%, rgba(0,0,0,0.35) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0)), color-stop(97%,rgba(0,0,0,0.33)), color-stop(99%,rgba(0,0,0,0.35))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.33) 97%,rgba(0,0,0,0.35) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.33) 97%,rgba(0,0,0,0.35) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.33) 97%,rgba(0,0,0,0.35) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.33) 97%,rgba(0,0,0,0.35) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}


.inlineBlock {
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width:1360px) {
	.logoHolder {
		width:0;
	}

	.sideMenu {
		width:50%;
	}
}

@media screen and (max-width:1152px) {
	nav a {
		font-size: 0.8em;
	}

	.adjectif .group span {
		font-size: 1.1em;
	}

	.milieu {
		font-size: 1.3em;
	}

	section h1 {
		font-size:4.5em;
	}
}


@media screen and (max-width:720px) {
	header {
		height:0;
		opacity:0;
	}

	nav a {
		display: none;
	}

	.adjectif .group span {
		font-size: 1em;
	}

	.milieu {
		font-size: 1.2em;
	}

	section h1 {
		font-size:4em;
	}
}